<nav class="navbar sticky-top navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{{ path_for('home') }}">Dasbor</a>
            <a class="nav-link" href="{{ path_for('schools') }}">Sekolah</a>
            <a class="nav-link" href="{{ path_for('students') }}">Siswa</a>
        </div>
      </div>
    </div>
  </nav>